@model ResourceManagementSystem.Application.ViewModel.Items.ItemVM

@{
    ViewData["Title"] = "EditItem";
}

<h1>Edit Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <img src="@Model.ImagePath"/>
                <input asp-for="ImageObj" type="file" accept="image/*" />
                <span asp-validation-for="ImageObj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" type="hidden" class="form-control" />
                @Model.Id
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            

            <div id="SerialsBox">
                
            </div>

            <div>
                <button type="button" onClick="AddSerial()">Add Serial Number</button>
            </div>
            <br />

            <div>
                Departments
                @for (int i = 0; i < Model.DepartmentsList?.Count; i++)
                {
                    <div>
                        <input asp-for="DepartmentsList[i].Id" type="hidden" />
                        <input asp-for="DepartmentsList[i].Name" type="hidden" />
                        <input asp-for="DepartmentsList[i].Status" type="checkbox" />
                        @Model.DepartmentsList[i].Name
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DeleteItem" asp-route-id=@Model.Id>Delete</a>
</div>
<div>
    <a asp-action="DetailsItem" asp-route-id=@Model.Id>Back to Details</a>
</div>
<div>
    <a asp-action="Resources">Back to List</a>
</div>

@section Scripts
{
<script type="text/javascript">
    
    let SerialList = [];
    
    @foreach (var serial in Model.SerialsList)
    {
        //<text>
        @:SerialList.push(["@serial.Id", "@serial.Name", "@(serial.Status ? "true" : "false")"]);
        //</text>
    }
    
    function ShowSerial()
    {
        let buff = "Serials : <br />";

        for (let i = 0; i < SerialList.length; i++) 
        {  
            if(SerialList[i][0] == "")
            {
                buff += "<div>\n" +
                    "<div class=\"form-group\">\n" +
                        "<input type=\"hidden\" id=\"SerialsList_" + i + "__Id\" name=\"SerialsList[" + i + "].Id\" value=\"" + SerialList[i][0] + "\">\n" +
                        "<input class=\"form-control\" type=\"text\" id=\"SerialsList_" + i + "__Name\" name=\"SerialsList[" + i + "].Name\" value=\"" + SerialList[i][1] + "\">\n" +
                        "<button type=\"button\" onClick=\"RemoveSerial(" + i + ")\">X</button>" +
                    "</div>\n" +
                "</div>\n";
            }
            else
            {
                buff += "<div>\n" +
                    "<div class=\"form-group\">\n" +
                        "<input type=\"hidden\" id=\"SerialsList_" + i + "__Id\" name=\"SerialsList[" + i + "].Id\" value=\"" + SerialList[i][0] + "\">\n" +
                        "<input type=\"hidden\" id=\"SerialsList_" + i + "__Name\" name=\"SerialsList[" + i + "].Name\" value=\"" + SerialList[i][1] + "\">\n" +
                        " " + SerialList[i][1];
                        
                        if(SerialList[i][2] == "true")
                        {
                            buff += " - Reservated";
                        }
                                                
                buff += "\n" +
                        "<button type=\"button\" onClick=\"RemoveSerial(" + i + ")\">X</button>" +
                    "</div>\n" +
                "</div>\n";
            }
        }

        document.getElementById("SerialsBox").innerHTML = buff;
    }

    function AddSerial()
    {
        for (let i = 0; i < SerialList.length; i++) 
        {
            SerialList[i][1] = document.getElementById("SerialsList_" + i + "__Name").value;
        }

        SerialList.push(["", "", ""]);
        ShowSerial();
    }
    
    function RemoveSerial(number)
    {
        for (let i = 0; i < SerialList.length; i++) 
        {
            SerialList[i][1] = document.getElementById("SerialsList_" + i + "__Name").value;
        }

        SerialList.splice(number, 1);
        ShowSerial();
    }

    ShowSerial();
</script>
}